@model HotelManager.Views.Reservations.Model.FullReservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmployeeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmployeeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccomodationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastIncluded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastIncluded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAllInclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAllInclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        @for (int i = 0; i < Model.Client.Count; i++)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client[i].Email)
            </dd>
        }
    </dl>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
